{% extends 'main.html' %}

{% block content %}

<div>
    <form method="POST" action="">
       {% csrf_token %}

       <div class="form-outline">
           <label class="form-label" for="typeText">username:</label>
        <input type="text" name="username" id="typeText" class="form-control" />
      </div>
      <div class="form-outline">
          <label class="form-label" for="typeText">password:</label>
        <input type="password" name="password" id="typeText" class="form-control" />
      </div>
   
      <div class="form-outline" style="margin-top: 30px;">
          <input type="submit" value="login" class="btn btn-primary"/>
    </div>
    
    </form>
    <p>haven't signed up yet?</p>
    <a href="#">sign up</a>
</div> 
<!-- 
<div>
  <form method="POST" action="">
     {% csrf_token %}
     {{form.as_p}}

    <div class="form-outline" style="margin-top: 30px;">
        <input type="submit" value="Register" class="btn btn-primary"/>
  </div> -->
  
  </form>
  <p>Already signed up?</p>
  <a href="{% url 'login' %}">Login</a>
</div>

{% endblock content%}