{% load static %}
<main class="container-fluid md-5" style="margin: 0;padding:0;">
  <!-- NAV  BAR -->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light"style="marign:auto;">
    <div class="container-fluid">
      <!-- Container wrapper -->
      <!-- Toggle button -->
      <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
    <i class="fas fa-bars"></i>
  </button>

  <!-- Collapsible wrapper -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Navbar brand -->
    <a class="navbar-brand mt-2 mt-lg-0" href="#">
      <h3 style="line-height:1.5em;font-stretch: extra-expanded;">TEKSA</h3>
    </a>
    <!-- Left links -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href=" {% url 'store' user.id %}">Shop</a>
      </li>
      
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store1' %}">Shop</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="#">ContactUs</a>
      </li>
    </ul>
    <!-- Left links -->
  </div>
  <!-- Collapsible wrapper -->
  
  <!-- Right elements -->
  <div class="d-flex align-items-center">
    <!-- Icon -->
    
    {% if request.user.is_authenticated %}
   
    {% for order in orders%}
    
    {% if order.customer == user.customer %}
    <!-- Avatar -->
    <div class="dropdown">
      <a
      class="dropdown-toggle d-flex align-items-center hidden-arrow"
      href="#"
      id="navbarDropdownMenuAvatar"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="{% static 'images/avatar.svg' %}"
          class="rounded-circle"
          height="25"
          alt="Black and White Portrait of a Man"
          loading="lazy"
          style="margin-left:10px;"
        />
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuAvatar"
      >
        <li>
          <a class="dropdown-item" href="#">My profile</a>
        </li>
        <li>
          <!-- <a class="dropdown-item" href="#">Settings</a> -->
          
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
    <h6 style="margin-left:10px;"> {{user.customer}}</h6>
       <a href="{% url 'cart' order.id  %}">
         <img  id="cart-icon" style="width:30px;margin-right: 10px;"src="{% static 'images/cart.png' %}">
         <span  id="cart-total" class="badge rounded-pill badge-notification bg-danger">{{order.get_cart_item}}</span>
        </a>
        {% endif %}
        
        {% endfor %} 
     

   
  

  
    
  </div>
  
  {% else %}
  <div class="d-flex align-items-center">
    <!-- Icon -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
    
     <li class="nav-item">
       <a href="{% url 'cart1' %}">
         <img  id="cart-icon" style="width:30px;margin-right: 10px;"src="{% static 'images/cart.png' %}">
         <span  id="cart-total" class="badge rounded-pill badge-notification bg-danger"></span>
         <span  id="cart-total" class="badge rounded-pill badge-notification bg-danger">{{cartitem}}</span>
     </a>
       
    </ul>
    {% endif %}
   </div>
  </div>
  <!-- Right elements -->
</div>
<!-- Container wrapper -->
</nav>
<!-- Navbar -->
<section>



</section>

</main>
