{% extends 'main.html' %}
{% block content %}
{% load static %}
<div class="container"style="margin:0,auto; margin-top:20px;">
    <div class="row ">
        
            <div class="col-lg-12">
                <div class="box-element">
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-outline-dark"href="{% url 'store' user.id %}">&#x2190;Continue Shopping</a>
                    {% else %}
                    <a class="btn btn-outline-dark"href="{% url 'store1' %}">&#x2190;Continue Shopping</a>
                    {% endif %}
                 <br><br>
                 <table class ="table">
                    
                    <tr class="table-primary">
                        <th><h5>Items: <strong>{{order_1.get_cart_item}}</strong></h5></th>
                        <th><h5>Total: <strong>&euro;{{order_1.get_cart_total|floatformat:2}}</strong></h5></th>
                        <th>
                            <a style="float:right;margin:5px" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                        </th>
    
                    </tr>
                  
                 </table>
                </div>
    
                <br>
                <div class="box-element">
                  <div class="cart-row">
                    <div style="flex:1"><strong>Product</strong></div>
                    <div style="flex:1; margin-left:200px;"><strong>Item </strong></div>
                    <div style="flex:1;margin-left:100px;"><strong>Price </strong></div>
                    <div style="flex:2"><strong>Quantity </strong></div>   
                    <div style="flex:1"><strong> Total</strong></div>   
    
                </div>
               
                {% for item in items %}
               
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
                   
                    <div style="flex:1">
                            <p class="quantity">{{item.quantity}}</p>
                            <div class="quantity">
                                <img  data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/up.png' %}">
                        
                                <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart"  src="{% static  'images/down.png' %}">
                            </div>
                        </div>
                        <div style="flex:1"><p>{{item.price}}</p></div>
                        <div style="flex:1"><p>&euro;{{item.get_total}}</p></div>
                    </div>
                {% endfor %}
                </div>
            </div>
    </div>
            
</div>
	
{% endblock content %}