{% extends 'main.html' %}
{% block content %}
{% load static %}
<!-- BANNER  -->
<div class="row banner"style="margin:0;padding:0;margin-top:2px">
    <div class="col-lg-1 col-md-4 line_1">
        <h4><span>T</span>
            <span>E</span>
            <span>K</span>
            <span>S</span>
            <span>A</span>
        </h4>
    </div>
    <div class="col-lg-4 col-md-2 img1">
        <img src='{% static "images/pic.png" %}'>
    </div>
    <!-- <div class="col hea">
        <h5>2022 collections</h5>
    </div> -->
    <div class="col-lg-3 sub_heading">
        <div>
            <h5 class="text-muted">Admire Stylish Dresses & Looks</h5>
        </div>
        <div>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        
        {% if request.user.is_authenticated %}
        <div>
            <a type="button" id="shop_btn" class="btn btn-outline-light" style="border-radius: 10px;"href=" {% url 'store' user.id %}">shop now</a>
        </div>
        {% else %}
        <div>
            <a type="button" id="shop_btn" class="btn btn-outline-light" style="border-radius: 10px;"href="#">shop now</a>
        </div>
        {% endif %}
    </div>

</div>
<!-- Flex  -->
<div class="row flex_1">
    <div class="col-md-4"><img src="{% static 'images/dresses.jpg'%}"  style="width:400px;"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-5"><img src="{% static 'images/new_arrival.jpg'%}" style="width:330px;"></div>
            <div class="col-md-6"><img src="{% static 'images/jacket.jpg' %}" style="width:240px;margin-left:30px;"></div>
            <div class="pb-3">
                <img src="{% static 'images/winter.jpg' %}" style="width:650px;height: 150px;">
            </div>
      </div>
    </div>
    </div>
    <!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"
></script>
   
{% endblock %}